
<div class="w-100 font-style" style=" background-color: black; height: 100vh;">
    <div class="row-display d-flex" >
        <div class="left-part p-4">
            <div class="nav-item d-flex w-100" [routerLink]="['/']" routerLinkActive="router-link-active" >
                <img src="./../../assets/home-icon.png">
                <div class="title-nav-item">Home</div>
            </div>
            <div class="nav-item d-flex w-100">
                <img src="./../../assets/search-icon.png">
                <div class="title-nav-item">Search</div>
            </div>
            <div class="nav-item d-flex w-100">
                <img src="./../../assets/library-icon.png">
                <div class="title-nav-item">Your Library</div>
            </div>
            <div class="nav-item d-flex w-100 mt-2">
                <img src="./../../assets/create-icon.png">
                <div class="title-nav-item">Create Playlist</div>
            </div>
            <div class="nav-item d-flex w-100">
                <img src="./../../assets/liked-icon.png">
                <div class="title-nav-item">Liked Songs</div>
            </div>
            <div class="user-playlists mt-2">
                <div class="playlist mt-2" *ngFor="let item of [1,2,3]">abc</div>
            </div>
        </div>
        <div class="right-part p-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>