.container {
    .album-info {
        position: relative;
        .album-cover {
            width: 230px;
            height: 230px;
        }
        .album-title-group {
            position: absolute;
            bottom: 50px;
            left: 300px;
            .album-title {
                font-size: 90px;
                font-weight: bold;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .related-info {
                .singer-ava {
                    width: 30px;
                    border-radius: 15px;
                }
            }
        }
    }
    .tracklist {
        .titles {
            border-bottom: 1px solid gray;
        }
        .tracklist-table {
            color: white;
        }
        .order-number {
            width: 10%;
        }
        .song-name {
            width: 60%;
        }
        .score {
            width: 20%
        }
        .like {
            width: 10%;
        }
    }
}