<div class="announcement-banner w-100 m-2">

</div>
<h3>Good afternoon</h3>
<div class="recent-playlists w-100 d-flex m-2">
    <div class="playlist d-flex mt-2 mr-2">
        <img class="playlist-img" src="./../../assets/playlist-image.png">
        <div class="playlist-name pl-2">Playlist name</div>
    </div>
    <div class="playlist d-flex mt-2 mr-2">
        <img class="playlist-img" src="./../../assets/playlist-image.png">
        <div class="playlist-name pl-2">Playlist name</div>
    </div>
    <div class="playlist d-flex mt-2 mr-2">
        <img class="playlist-img" src="./../../assets/playlist-image.png">
        <div class="playlist-name pl-2">Playlist name</div>
    </div>
</div>
<div class="category-frame">
    <div class="category-name">
        <h4 class="ml-5">Pop Music</h4>
    </div>
    <div class="category-item-list">
        <div class="category-item h-100 p-2 m-2" [routerLink]="['/detail/'+1]" routerLinkActive="router-link-active" >
            <img class="item-image" src="./../../assets/justin-justice.png" alt="">
            <h5 class="item-name mt-2">Justice</h5>
            <div class="item-description">Justin Bieber</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/adele-30.png" alt="">
            <h5 class="item-name mt-2">30</h5>
            <div class="item-description">Adele</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/ed-equal.png" alt="">
            <h5 class="item-name mt-2">=</h5>
            <div class="item-description">Ed Sheeran</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/weeknd-dawnfm.png" alt="">
            <h5 class="item-name mt-2">Dawn FM</h5>
            <div class="item-description">The Weeknd</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/olivia-sour.png" alt="">
            <h5 class="item-name mt-2">Sour</h5>
            <div class="item-description">Olivia Rodrigo</div>
        </div>
    </div>
</div>
<div class="category-frame">
    <div class="category-name">
        <h4>Podcast</h4>
    </div>
    <div class="category-item-list">
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/podcast-1.png" alt="">
            <h5 class="item-name mt-2">Justice</h5>
            <div class="item-description">Justin Bieber</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/podcast-2.png" alt="">
            <h5 class="item-name mt-2">30</h5>
            <div class="item-description">Adele</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/podcast-3.png" alt="">
            <h5 class="item-name mt-2">=</h5>
            <div class="item-description">Ed Sheeran</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/postcad-4.png" alt="">
            <h5 class="item-name mt-2">Dawn FM</h5>
            <div class="item-description">The Weeknd</div>
        </div>
        <div class="category-item h-100 p-2 m-2">
            <img class="item-image" src="./../../assets/podcast-5.png" alt="">
            <h5 class="item-name mt-2">Sour</h5>
            <div class="item-description">Olivia Rodrigo</div>
        </div>
    </div>
</div>